/*Animation for cards*/

@keyframes fallIn {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.fall-animation {
    animation: fallIn 0.5s ease-out forwards;
}

/* Delay each artist for a cascading effect */
.fall-delay-1 { animation-delay: 0.0s; }
.fall-delay-2 { animation-delay: 0.0s; }
.fall-delay-3 { animation-delay: 0.0s; }
.fall-delay-4 { animation-delay: 0.0s; }
.fall-delay-5 { animation-delay: 0s; }
.fall-delay-6 { animation-delay: 0s; }
.fall-delay-7 { animation-delay: 0s; }
.fall-delay-8 { animation-delay: 0s; }

 #modal-body-content::-webkit-scrollbar {
     width: 10px; /* Makes scrollbar more visible */
 }

#modal-body-content::-webkit-scrollbar-thumb {
    background: #616161; /* Scrollbar color */
    border-radius: 5px; /* Rounded edges */
}

#modal-body-content::-webkit-scrollbar-thumb:hover {
    background: #3e3e3e; /* Darker on hover */
}

/* Pagination */
#pagination-container {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
}

/* Pagination Active Button */
.pagination-btn.active {
    background-color: #facc15 !important;
    color: black !important;
}

#artists-container {
    min-height: 80vh;
    padding-bottom: 6rem; /* Ensures pagination doesn’t overlap cards */
}

/* Ensure the page background color is the same everywhere */
body {
    background-color: #e5e7eb;
}

#filters-panel input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent; /* Removes default background */
}

/* The Track (the bar itself) */
#filters-panel input[type="range"]::-webkit-slider-runnable-track {
    background: rgba(255, 223, 88, 0.6) !important;
    height: 6px;
    border-radius: 9999px;
}

/* Firefox Track */
#filters-panel input[type="range"]::-moz-range-track {
    background: rgba(255, 223, 88, 0.6) !important;
    height: 6px;
    border-radius: 9999px;
}

/* The Thumb */
#filters-panel input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #facc17 !important;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -5px;
}

#filters-panel input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: rgba(255, 223, 88, 0.6) !important;
    border-radius: 50%;
    cursor: pointer;
}


